:root{
    --main-color : #1E88E5;
    --main-dark : #1976D2;
    --dark : #263238;
}

h1, h2, h3, h4{
    text-transform: uppercase;
}
body{
    margin: 0;
}
.content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/*-----------------------------Aside-----------------------------------*/
aside{
    background-color: var(--main-color);
    width: 20vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}
.profile-picture{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25vh;
    border-radius: 50%;
    margin: 3vh auto;
    border: .5vh solid var(--main-dark);
}
.personal-info h3{
    background-color :var(--dark);
    text-align: center;
    padding: 1vw 0;
    color: var(--main-color);
}
.personal-info p{
    margin: 2vw;
}


.inner{
    width: 80vw;
}