:root{
    --main-color : #1E88E5;
    --main-dark : #1976D2;
    --dark : #263238;
}

h1, h2, h3, h4{
    text-transform: uppercase;
}

.picture, .personal-info{
    background-color: var(--main-color)
}

.picture img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: .5vw solid var(--main-dark);
}
